$black-color: black;
$cornflower-blue-color: rgb(150, 242, 64);

.movies-list {
  padding: 2rem;
  &__popular {
    font-size: 1.5rem;
    margin: 2rem;
  }
  &__wrapper {
    height: 100%;
    padding: 10px; 
  }
  &__media {
    &-image {
      cursor: pointer;
      float: left;
      height: 278px;
      margin: 16px;
      width: 185px;
    }
  }
  &__info {
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    &-average {
      color: $cornflower-blue-color;
      font-weight: bold;
    }
    &-date {
      display: block;
      font-size: 0.8rem;
      margin-bottom: 30px;
    }
    &-title {
      font-size: 1.1rem;
      font-weight: bold;
    }
    &-overview {
      font-size: 0.8rem;
      &::after {
        content: "..."
      }
    }
    &-link {
      color: black;
      &:hover {
        text-decoration: none;
        color: $black-color;
      }
    }
  }
  &__pagination {
    &-list {
      &-item {
        display: inline-block;
        padding: 1rem;
        &-link {
          color: $black-color;
          &:hover {
            color: $cornflower-blue-color;
            text-decoration: none;
          }
        }
      }
    }
  }
}
